$base-font-size: 13px;

.el-input__inner {
  font-size: $base-font-size;
}

.el-button--mini,
.el-button--small,
.el-radio-button--small .el-radio-button__inner,
.el-checkbox,
.el-checkbox__label {
  font-size: $base-font-size;
  font-weight: normal;
}

.el-button--text {
  height: 32px;
}

.el-checkbox__label {
  vertical-align: middle;
}

.el-checkbox__inner {
  width: $--checkbox-bordered-mini-input-height;
  height: $--checkbox-bordered-mini-input-width;
}

.el-checkbox__inner::after {
  height: 6px;
  width: 2px;
}
